<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Web 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<form action="/add" method="POST">
    <label  class="label label-default" >Enter id </label><input name="id"></br>
    <label  class="label label-default" >Enter name </label><input name="name"></br>
    <label  class="label label-default">Enter price</label><input name="price"></br>
    <input type="submit" value="Create product" class="btn btn-success">
</form>
</div>
</body>
</html>