<web-app >
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>


    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>com.khamutov.web.security.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/add</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>com.khamutov.web.security.UserFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/prodcuts</url-pattern>
    </filter-mapping>

</web-app>